<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.mapper.AdminRoleMapper">
    <!--抽取的sql语句-->
    <sql id="columns">
        select admin_id,role_id,create_time,update_time,is_deleted
    </sql>

    <select id="findRolesByAdminId" resultType="long">
        select role_id from acl_admin_role where admin_id = #{adminId} and is_deleted = 0
    </select>

    <!--跟新方法-->
    <update id="update">
        update acl_admin_role set is_deleted=#{isDeleted} where id=#{id}
     </update>
    <!--逻辑移除用户和角色的绑定关系-->
    <update id="removeRole">
        update acl_admin_role set is_deleted = 1 where admin_id = #{adminId}
        and role_id in
        <foreach collection="needRemoveList" item="list" open="(" separator="," close=")">
            #{list}
        </foreach>
    </update>

    <insert id="insert">
        insert into acl_admin_role (admin_id,role_id) values(#{adminId},#{roleId})
    </insert>

    <!--查找方法-->
    <select id="findByRoleIdAndAdminId" resultType="AdminRole">
        <include refid="columns"/>
        from acl_admin_role where admin_id = #{adminId} and role_id = #{roleId}
    </select>
</mapper>