<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.atguigu.mapper.PermissionMapper">
    <!--复用查询的字段-->
    <sql id="columns">
        select id,parent_id,name,url,code,type,sort,create_time,update_time,is_deleted
    </sql>

    <select id="findAll" resultType="Permission">
        <include refid="columns"/>
        from acl_permission where is_deleted = 0 order by sort
    </select>

    <!--通过adminId查找Permission需要经过两张表,通过acl_role_admin查找roleid,
    再通过acl_permission_role查找permissionId-->
    <select id="findPermissionListByAdminId" resultType="Permission">
        <include refid="columns"/>
        from acl_permission where is_deleted = 0 and id in
        (select permission_id from acl_role_permission where is_deleted = 0 and role_id in
        (select role_id from acl_admin_role where is_deleted = 0 and admin_id = #{adminId}))
    </select>

    <update id="delete">
        update acl_permission set is_deleted = 1 where id = #{id}
    </update>

    <insert id="insert">
        insert into acl_permission (parent_id,name,url,code,type,sort) values (#{parentId},#{name},#{url},
        #{code},#{type},#{sort})
    </insert>

    <update id="update">
        update acl_permission
        <set>
            <if test="name != null and name != ''">
                name=#{name},
            </if>
            <if test="url != null and url != ''">
                url=#{url},
            </if>
            <if test="code != null and code != ''">
                code=#{code},
            </if>
            <if test="sort != null and sort != ''">
                sort=#{sort},
            </if>
            update_time=now()
        </set>
        where id=#{id}
    </update>

    <select id="getById" resultType="Permission">
        <include refid="columns"/>
        from acl_permission where id = #{id} and is_deleted = 0
    </select>

    <select id="getChildCount" resultType="long">
        select count(*) from acl_permission where parent_id = #{id}
    </select>

    <select id="findAllCodePermission" resultType="String">
        select code from acl_permission where is_deleted=0
    </select>

    <select id="findCodePermissionByAdminId" resultType="String">
        select code from acl_permission where is_deleted = 0 and id in(
        select id from acl_role_permission where is_deleted = 0 and role_id in (
        select role_id from acl_admin_role where is_deleted = 0 and admin_id = #{adminId}
        ))
    </select>
</mapper>